@import './reset.css';

:root {
  --app-dark:          #030022                   ;
  --app-footer-color:  #08071b                   ;
  --app-footer-border: #f0f2f444                 ;
  --app-light:         #f0f2f4                   ;
  --app-blue:          #5749ff                   ;
  --app-blue-hover:    #4535ff                   ;
  --app-green:         #49ff57                   ;
  --app-red:           #ff5749                   ;
  --app-red-hover:     #ff4535                   ;
  --app-purple:        #b249ff                   ;
  --app-purple-hover:  #aa35ff                   ;
  --app-orange:        #ffb249                   ;
  --app-orange-hover:  #ffa221                   ;
  --app-yellow:        #f1ff49                   ;

  --app-header-height: 56px                        ;
  --app-footer-height: 112px                       ;
  --app-border-radius: 6px                         ;
}

* {
  transition: all 0.25s ease-in-out;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* General                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

html {
  scroll-behavior: smooth;
}

body {
  background-color:    var(--app-dark)             ;
}

.container {
  width:               min(100% - 30px, 1280px)    ;
  margin-inline:       auto                        ;
}

h1, h2, h3, p, a {
  color:               var(--app-light)            ;
  font-weight:         400                         ;
}

header > div, footer > div {
  display:             flex                        ;
}

.title, header nav, .links, .copyright {
  width:               50%                         ;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* Header                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

/* General                                         */
header {
  height:              var(--app-header-height)    ;
  background-color:    var(--app-purple)           ;
}

/* Title                                           */
header h1 {
  line-height:         var(--app-header-height)    ;
  font-weight:         400                         ;
  font-size:           26px                        ;
  letter-spacing:      0.6px                       ;
}

/* Links                                           */
header nav {
  text-align:          center                      ;
}
header li + li {
  margin-left:         20px                        ;
}
header li, header a {
  list-style:          none                        ;
  text-decoration:     none                        ;
  display:             inline-block                ;
  line-height:         var(--app-header-height)    ;
}
li a {
  letter-spacing:      0.5px                       ;
  font-weight:         600                         ;
}
header a:hover {
  text-decoration:     underline                   ;
}
span {
  display: none;
  background-color: #03002236;
  border: 1px solid #0300223e;
  line-height: 40px;
  width: 40px;
  border-radius: 50%;
}
span:focus {
  background-color: #03002272;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* Banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

/* General                                         */
.banner {
  height: calc(100vh - var(--app-header-height) - var(--app-footer-height));
  background: var(--app-dark) url(../img/frs.jpg) center center / cover no-repeat fixed;
}
.darken {
  height: calc(100vh - var(--app-header-height) - var(--app-footer-height));
  background-color:    #030022c5                 ;
  display:             flex                        ;
  align-items:         center                      ;
}

/* Hello, World message                            */
h2 {
  font-size:           26px                        ;
}
h3 {
  font-size:           20px                        ;
}
h2, h3 {
  letter-spacing:      0.5px                       ;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

/* General                                         */
main {
  padding-top: 40px;
}
main h2 {
  width:               100%                        ;
  margin-bottom:       20px                        ;
}
.about, .socials {
  display:             flex                        ;
  flex-flow:           row wrap                    ;
  margin-bottom:       40px                        ;
}

/* About Me                                        */
.about .me {
  width:               calc(70% - 30px)            ;
  margin-right:        60px                        ;
}
.me p {
  text-indent:         50px                        ;
  transition: justtify-content 0.25s ease-in;
}
.me p + p {
  margin-top:          20px                        ;
}
.me-image {
  width:               calc(30% - 30px)            ;
}
img {
  border-radius: var(--app-border-radius);
}

/* Contact Me                                      */

.contact {
  font-size: 18px;
  line-height: 40px;
}
.flex {
  display: flex;
}
.ico {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.contact p:hover {
  text-decoration: underline;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* Footer                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - */

/* General                                         */
footer {
  height:              var(--app-footer-height)    ;
  background-color:    var(--app-footer-color)     ;
  border-top: 1px solid var(--app-footer-border)   ;
}

/* Icons                                           */
.links {
  display:             flex                        ;
  gap:                 20px                        ;
  align-items:         center                      ;
  flex-flow: row wrap;
}
.icon {
  width:               45px                        ;
  height:              45px                        ;
  display:             grid                        ;
  place-items:         center                      ;
  border-radius:       50%                         ;
  transition:          background-color 0.25s      ;
}
.insta {
  background-color:    #b249ff36                 ;
  color:               #b249ff                   ;
  border:              1px solid #b349ff3e       ;
}
.insta:hover {
  background-color:    #b349ff28                 ;
}
.mail {
  background-color:    #5849ff36                 ;
  color:               #5749ff                   ;
  border:              1px solid #5749ff3e       ;
}
.mail:hover {
  background-color:    #5849ff28                 ;
}
.github {
  background-color:    #ff574936                 ;
  color:               #ff5749                   ;
  border:              1px solid #ff57493e       ;
}
.github:hover {
  background-color:    #ff574928                 ;
}
footer a {
  text-decoration:     none                        ;
}
footer i {
  font-size:           20px                        ;
}

/* Copyright                                       */
.copyright {
  line-height:         var(--app-footer-height)    ;
  text-align:          center                      ;
}

@media (max-width: 770px) {
  .about {
    justify-content: center;
  }
  .about p {
    text-indent: 0px;
  }
  .about .me {
    width: 80%;
  }
  .me-image {
    display: none;
  }
  .extra {
    display: none;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 20px;
  }
  header .title {
    width: 65%;
  }
  header nav {
    text-align: right;
    width: 35%;
  }
  nav li + li {
    margin-left: 10px;
  }
  li p {
    display: none;
  }
  li span {
    display: inline-block;
    text-align: center;
  }
  .about .me {
    width: 100%;
  }
  .links {
    gap: 5px;
    width: 100%;
  }
  .copyright {
    display: flex;
    padding-top: 10px;
    height: 100%;
    line-height: normal;
    font-size: 14px;
  }
}